@charset "utf-8";
/* CSS Document */


body {
	background-image: url(woodbg.jpg);
	background-repeat: no-repeat;
}
.topText {
	text-align: right;
	margin-top: 10px;
	margin-right: 20px;
	padding-bottom: 1px;
	font-size: 14px;
	color: #FFF;
}
.textbox {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: dotted;
	border-left-style: none;
	border-bottom-color: #384B4A;
	background-color: transparent;
	width: 200px;
	font-size: 18px;
}
.button {
	background-color: transparent;
	border-style: dotted;
	border-width: 1px;
	text-align: center;
	line-height: 20px;
	font-family: "微软雅黑";
}
.button:link{
	background-color: transparent;
}
.button:hover{
	background-color:#FF6;
}
body {
	padding-bottom: 50px;
}
.bottomText {
	position: fixed;
	left: 0px;
	bottom: 5px;
	width: 100%;
	height: 20px;
	z-index: 9999;
	text-align: center;
	font-size: 14px;
	color: #666;
}
.functiontitle {
	font-family: "华文新魏";
	font-size: 36px;
	text-align: center;
	color: #FFF;
	padding-top: 60px;
	padding-bottom: 30px;
}
.itemfont {
	line-height: 16px;
	font-family: "微软雅黑";
	font-size: 14px;
}
.bottombtn {
	text-align: center;
	padding-top: 10px;
}
.ddl {
	background-color: transparent;
}
.hidden {
	display: none;
}
.listhead {
	font-family: "楷体";
	font-size: 18px;
}
.grv {
	background-color: transparent;
	font-family: "楷体";
	font-size: 14px;
}
.note{
	font-family:'华文新魏'; 
	font-size:18px; 
	background-image:url(whitebg.png); 
	background-repeat:no-repeat;
	padding-top:8px;
	padding-left:8px;
	padding-bottom:10px;
}
.curCNY{
	background-image:url(whitebg.png);
	background-repeat:no-repeat; 
	margin-left:450px; 
	margin-right:450px;
	margin-top:10px; 
	height:50px; 
	line-height:50px; 
	font-weight:bolder;
}
.functionlist{
	width:120px;
}
